<mas-navbar
  (navigateToRoom)="onNavigateToRoom($event)"
  (toggleSidebar)="onToggleMenu()"
></mas-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" [opened]="sidebarOpened" [mode]="'over'">
    <mas-rooms-menu
      [rooms]="rooms$ | async"
      [selectedRoom]="selectedRoom$ | async"
      (selectRoom)="onSelectRoom($event)"
    ></mas-rooms-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-content">
      <sdj-awesome-player
        #playerComponent
        [externalRadio]="selectedExternalRadio$ | async"
        [src]="audioSrc$ | async"
        [room]="selectedRoom$"
      >
      </sdj-awesome-player>
      <router-outlet></router-outlet>
      <mas-action-menu
        (changeExternalRadioStation)="onChangeExternalRadio()"
      ></mas-action-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
