<mat-nav-list>
  <mat-list-item
    class="rooms-list"
    [ngStyle]="room.id === selectedRoom?.id && { backgroundColor: '#b3e5fc' }"
    (click)="onSelectRoom(room)"
    routerLinkActive="list-item-active"
    *ngFor="let room of rooms"
  >
    <mat-icon *ngIf="room.id === selectedRoom?.id" mat-list-icon
      >star
    </mat-icon>
    <mat-icon *ngIf="room.id !== selectedRoom?.id" mat-list-icon
      >star_border</mat-icon
    >
    <h4 mat-line>{{ room.name }}</h4>
  </mat-list-item>
</mat-nav-list>
